@media screen and (max-width: 568px) {
  :root {
    --width: 91%;
    --margin-top: 30px;
  }
  body header nav {
    flex-direction: column;

    gap: 5px;
  }
  body header nav .navlogo h4 {
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
  }
  body header nav .navlink {
    flex-direction: column;
  }
  body header nav .navlink .Shoping-card {
    display: none;
  }
  header nav ul {
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 568px) and (max-width: 2000px) {
  body header nav .navlink .Shoping-card {
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .hero .img {
    flex: 1;
  }
  .hero .text {
    flex: 1;
  }
  .hero .text {
    text-align: left;
  }
  .btn {
    margin: 0px;
  }
}
@media screen and (min-width: 568px) and (max-width: 2000px) {
  body header nav .navlink .Shoping-card {
    display: none;
  }
  .hero {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .hero .img {
    flex: 1;
  }
  .hero .text {
    flex: 1;
  }
  .hero .text {
    text-align: left;
  }
  .btn {
    margin: 0px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 3000px) {
  main .sponchor {
    border-top: 2px solid;
    border-image: linear-gradient(to right, red, yellow, blue) 1;
    border-bottom: 2px solid;
    padding: 30px 0px;
  }
}
