body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

:root {
  --width: 71%;
  --margin-top: 80px;
}

/* comon class */

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background-color: #e02c6d;
  color: white;
  border: none;
  border-radius: 15px;
  margin: auto;
}

header {
  width: var(--width);
  margin: auto;
  margin-top: var(--margin-top);
}
header nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
header nav .navlogo h4 {
  font-size: 1.5rem;
  font-weight: 900;
}
header nav ul {
  display: grid;
  gap: 20px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}
header nav .navlink {
  display: flex;
  gap: 20px;
  align-items: center;
}
header nav .navlink .Shoping-card {
  display: flex;
  gap: 20px;
  align-items: center;
}
header nav .navlink .Shoping-card i {
  cursor: pointer;
  font-weight: 600;
}
header nav ul a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}

/* hero section css start */
.hero {
  margin: auto;
  margin-top: 15px;
}
.hero .img {
  background-image: url(images/Circle\ design.svg);
  background-position: center center;
  background-size: 95%;
  background-repeat: no-repeat;
}
.hero .img img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .text {
  text-align: center;
  margin-top: 15px;
}
.hero .text h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.hero .text > p {
  font-size: 14px;
  color: #3a3a3a;
  margin-bottom: 15px;
}

/* main sponcher section start */

main {
  width: var(--width);
  margin: auto;
}
main .sponchor {
  margin-top: var(--margin-top);
}

main .sponchor .img {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* popular collection */
.popular {
  margin-top: var(--margin-top);
}
.popular .text {
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.popular .container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.popular .container .contain {
  padding: 15px;
  box-shadow: 0px 0px 1px black;
  border-radius: 5px;
}
.popular .container .contain img {
  width: 100%;
}
.popular .container .contain [src="images/4.5.png"] {
  width: 50%;
}
.popular .container .contain h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.popular .container .contain h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.popular .container .contain > p {
  font-size: 24px;
  margin-top: 5px;
}
.popular .container .contain .fonts {
  font-size: 14px;
  font-weight: 800;
  color: #8e8e93;
  margin: 0px;
}
